body{
    background-color: #0b3761;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  border-radius: 16px;
 padding: 14px;
 background-image: url(images/nasa-Q1p7bh3SHj8-unsplash.jpg);
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;

}
.desc{color: #d8dee4;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 0.2px solid #adc5ec;
    border-radius: 8px;
    padding: 16px;
    margin: 20px auto;
    max-width: 600px;
    background-color: rgba(60, 134, 201,0.8);


}
.jj{
    color: whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 5px;
    font-size: 26px;
}
h2{
    font-size: 12px;
    font-family: g;
    padding: 14px;
}
h1{
    font-size: 64px;
    font-weight: 800;
    letter-spacing: 3px;
    color: #c8ccc3;
    padding: 20px 24px;
    background: rgba(0,0,0,0.11);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 2px solid #e4e9f1;
    border-radius: 14px;
    display: inline-block;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
img
{
 width: 50px;
 height: 50px;

}